# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: '.*test_files/.*'

repos:
-   repo: https://github.com/python/black
    rev: 22.3.0
    hooks:
    -   id: black

-   repo: https://github.com/sqlalchemyorg/zimports
    rev: v0.4.5
    hooks:
    -   id: zimports
        args:
            - --keep-unused-type-checking
            - --black-line-length=79

-   repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
    -   id: flake8
        additional_dependencies:
          - flake8-import-order
          - flake8-builtins
          - flake8-docstrings>=1.6.0
          - flake8-rst-docstrings
          # flake8-rst-docstrings dependency, leaving it here
          # in case it requires a version pin
          - pydocstyle
          - pygments




